USE [jmonitoring]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK4ACE4AFC8FDF3479]') AND parent_object_id = OBJECT_ID(N'[METHOD_CALL]'))
ALTER TABLE [METHOD_CALL] DROP CONSTRAINT [FK4ACE4AFC8FDF3479]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK4ACE4AFC9505A8E8]') AND parent_object_id = OBJECT_ID(N'[METHOD_CALL]'))
ALTER TABLE [METHOD_CALL] DROP CONSTRAINT [FK4ACE4AFC9505A8E8]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK281CB2153A48F23A]') AND parent_object_id = OBJECT_ID(N'[EXECUTION_FLOW]'))
ALTER TABLE [EXECUTION_FLOW] DROP CONSTRAINT [FK281CB2153A48F23A]
GO


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[METHOD_CALL]') AND type in (N'U'))
DROP TABLE [METHOD_CALL]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[EXECUTION_FLOW]') AND type in (N'U'))
DROP TABLE [EXECUTION_FLOW]
GO

/***********************************************************/
/***********************************************************/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [METHOD_CALL](
	[FLOW_ID] [int] NOT NULL,
	[INDEX_IN_FLOW] [int] NOT NULL,
	[PARAMETERS] [varchar](255) COLLATE French_CI_AS NULL,
	[BEGIN_TIME] [numeric](19, 0) NULL,
	[END_TIME] [numeric](19, 0) NULL,
	[FULL_CLASS_NAME] [varchar](120) COLLATE French_CI_AS NULL,
	[METHOD_NAME] [varchar](50) COLLATE French_CI_AS NULL,
	[THROWABLE_CLASS_NAME] [varchar](120) COLLATE French_CI_AS NULL,
	[THROWABLE_MESSAGE] [varchar](255) COLLATE French_CI_AS NULL,
	[RESULT] [varchar](255) COLLATE French_CI_AS NULL,
	[GROUP_NAME] [varchar](145) COLLATE French_CI_AS NULL,
	[PARENT_INDEX_IN_FLOW] [int] NULL,
	[SUB_METH_INDEX] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FLOW_ID] ASC,
	[INDEX_IN_FLOW] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


CREATE TABLE [EXECUTION_FLOW](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[THREAD_NAME] [varchar](255) COLLATE French_CI_AS NULL,
	[JVM] [varchar](255) COLLATE French_CI_AS NULL,
	[BEGIN_TIME] [numeric](19, 0) NULL,
	[END_TIME] [numeric](19, 0) NULL,
	[BEGIN_TIME_AS_DATE] [datetime] NULL,
	[DURATION] [numeric](19, 0) NULL,
	[FIRST_METHOD_CALL_INDEX_IN_FLOW] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [METHOD_CALL]  WITH CHECK ADD  CONSTRAINT [FK4ACE4AFC8FDF3479] FOREIGN KEY([FLOW_ID])
REFERENCES [EXECUTION_FLOW] ([ID])
GO
ALTER TABLE [METHOD_CALL] CHECK CONSTRAINT [FK4ACE4AFC8FDF3479]
GO
ALTER TABLE [METHOD_CALL]  WITH CHECK ADD  CONSTRAINT [FK4ACE4AFC9505A8E8] FOREIGN KEY([FLOW_ID], [PARENT_INDEX_IN_FLOW])
REFERENCES [METHOD_CALL] ([FLOW_ID], [INDEX_IN_FLOW])
GO
ALTER TABLE [METHOD_CALL] CHECK CONSTRAINT [FK4ACE4AFC9505A8E8]
GO
ALTER TABLE [EXECUTION_FLOW]  WITH CHECK ADD  CONSTRAINT [FK281CB2153A48F23A] FOREIGN KEY([ID], [FIRST_METHOD_CALL_INDEX_IN_FLOW])
REFERENCES [METHOD_CALL] ([FLOW_ID], [INDEX_IN_FLOW])
GO
ALTER TABLE [EXECUTION_FLOW] CHECK CONSTRAINT [FK281CB2153A48F23A]


