<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>

        <!-- properties -->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="connection.url">jdbc:hsqldb:mem:&#163;sadta</property>
        <!-- property name="connection.url">jdbc:hsqldb:hsql://localhost/jmonitoring/</property-->
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
	    <!-- property name="connection.autocommit">true</property-->

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
		
		<!-- Drop and re-create the database schema on startup -->
		<!-- property name="hbm2ddl.auto">create</property-->	
		
		<!--  J2EE Integration -->
		<!-- property name="session_factory_name">java:hibernate/SessionFactory</property>
		<property name="jndi.url"></property>
		<property name="jndi.class"></property-->

        <!-- property name="transaction.factory_class">
            org.hibernate.transaction.JTATransactionFactory
        </property-->
        <!-- property name="jta.UserTransaction">java:comp/UserTransaction</property-->

		<!-- mapping files -->
		<mapping resource="org/jmonitoring/core/persistence/ExecutionFlowPO.hbm.xml"/>
        <mapping resource="org/jmonitoring/core/persistence/MethodCallPO.hbm.xml"/>
		
    </session-factory>

	<!--
	<show_sql>false</show_sql>
	<max_fetch_depth>3</max_fetch_depth>
	<connection.datasource>java:comp/env/JDBC/DB2AS400</connection.datasource>
	<property name="hibernate.jndi.class">com.ibm.websphere.naming.WsnInitialContextFactory</property>
	<property name="hibernate.jndi.url">iiop://localhost:900/</property>

	-->
	
</hibernate-configuration>

