<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/jmonitoring-default.xml</param-value>
	</context-param>

    <filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>org.jmonitoring.console.gwt.server.flow.TransactionFilter</filter-class>
	</filter>

    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <url-pattern>*.rpc</url-pattern>
    </filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.gwtrpcspring.RemoteServiceDispatcher</servlet-class>
	</servlet>

<servlet>
<servlet-name>exportFlow</servlet-name>
<servlet-class>org.jmonitoring.console.gwt.server.flow.FlowExportServlet</servlet-class>
</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.rpc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>exportFlow</servlet-name>
		<url-pattern>flow.export</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>JMonitoring.html</welcome-file>
	</welcome-file-list>

</web-app>
