<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="jmonitoringConnectionString"
        connectionString="Data Source=VIRTUALPODE\SQLEXPRESS;Initial Catalog=jmonitoring;User ID=jmonitoring;Password=jmonitoring"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>