<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Org.NMonitoring.Core.Properties.Settings.jmonitoringConnectionString"
            connectionString="Data Source=VIRTUALPODE\JMONITORING;Initial Catalog=jmonitoring;User ID=jmonitoring;Password=jmonitoring"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>